<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="stylesheets/app.css">
</head>

<body>
	<!-- Header -->
<%- include('./partials/header') %>
	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">  <form  class="formula" action="./index.html" method="post">

				<div>
					<label > Usuario:</label>
					<input class="email" type="email"  name="email"  placeholder="ingrese su email" >
				</div>
		
				<div>
					<label>Contraseña:</label>
					<input type="password"  name="contra"  placeholder="Contraseña" >
				</div>

				<div >
                    <label> <input type="checkbox" name="recordarme" id="recordarme" value="">Recordarme</label>
                </div>
		
				<div>
				<button type="submit">Ingresar</button>
				</div>
		
	
			</form>
			</h2>


	<!-- footer -->
	
	<%- include('./partials/footer') %>
</body>

</html>