<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/products/logo-rare.png" />
	
	<title>R. Beauty Products</title>
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- Header -->
<%- include('./partials/header') %>
	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			
				<div class="col-12">
					<h2 class="products-title">Ingresar</h2>
				</div>
				<!-- Show the "ultimos" products -->
				<div class="col-12 align-form">   
					<section class="form-lr">
						<form  class="formula" action="/login" method="POST">
	
							<div class="formDos">
								<label > Usuario:</label>
								<input class="email" type="email"  name="email"  placeholder="ingrese su nombre de usuario" >
							</div>
					
							<div class="formDos">
								<label>Contraseña:</label>
								<input type="password"  name="contra"  placeholder="Contraseña" >
							</div>
			
							<div class="formDos">
								<label> <input type="checkbox" name="recordarme" id="recordarme" value="">Recordarme</label>
							</div>
					
							<div class="formDos">
							<button type="submit">Ingresar</button>
							</div>
					
				
						</form>
					</section>
					
			</div>
			
			


	<!-- footer -->
	
	<%- include('./partials/footer') %>
</body>

</html>