<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/products/logo-rare.png" />
	
	<title>R. Beauty Products</title>
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 align-form"> 
				<section class="form-lr">
					<form action="/products/product-add" method="POST" class="formula" >
						<div class="form-group">
							<label for="image">Imagen del producto:</label>
							<input type="text" name="nombreArchivoImagen" id="image" >
						</div>
						<div class="form-group">
							<label for="productName">Nombre del producto:</label>
							<input type="text" name="nombreProducto" id="productName" >
						</div>
						<div class="form-group">
							<label for="description">Descripción:</label>
							<textarea name="descripcionProducto" id="description" rows="4" ></textarea>
						</div>
						<button type="submit" class="btn btn-primary">Agregar producto</button>
					</form>
				</section>
				
			</div>


<%- include('./partials/footer') %>	
</body>

</html>