<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="/product/add" method="POST" enctype="multipart/form-data">
					<div class="form-group">
						<label for="image">Imagen del producto:</label>
						<input type="file" name="image" id="image" required>
					</div>
					<div class="form-group">
						<label for="productName">Nombre del producto:</label>
						<input type="text" name="productName" id="productName" required>
					</div>
					<div class="form-group">
						<label for="description">Descripción:</label>
						<textarea name="description" id="description" rows="4" required></textarea>
					</div>
					<button type="submit" class="btn btn-primary">Agregar producto</button>
				</form>
			</h2>


<%- include('./partials/footer') %>	
</body>

</html>