<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/products/logo-rare.png" />
	
	<title>R. Beauty Products</title>
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- Header -->
<%- include('./partials/header') %>

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 align-form">
				<section class="form-lr">
					<form action="/products/newuser" method="POST">
						<div class="formDos">
							<label for="email">Correo electrónico:</label>
							<input type="email" id="email" name="email" required>
						</div>
						<div class="formDos">
							<label for="name">Usuario:</label>
							<input type="text" id="name" name="name" required>
						</div class="formDos">
								
						<div class="formDos">
							<label for="password">Contraseña:</label>
							<input type="password" id="password" name="password" required>
						</div>
	
						<div class="formDos">
							<label for="fechaNacimiento">Fecha de nacimiento:</label>
							<input type="date" id="fechaNacimiento" name="fechaNacimiento">
						</div>
					  
						<div class="formDos">
							<label for="documento">Nro de documento:</label>
							<input type="number" id="documento" name="documento">
						</div>
	
						<div class="formDos">
							<label for="foto">Foto de perfil:</label>
							  <input type="text" id="foto" name="foto"><br>
	
						</div>
						<div class="formDos">
							<button type="submit">Registrarme</button>
						</div>
					</form>
				</section>
				
				
			</div>

			<%- include('./partials/footer') %>
</body>

</html>